<% include ./partials/header %>
<!-- Mobile Navigation Menu -->
<div id="mobile-menu" class="cover">
  <a href="#" class ="closebtn">&times;</a>
  <div class="cover-content">
    <a href="#">HOME</a>
    <a href="#">SHOP</a>
    <a href="#">OUR STORY</a>
    <a href="#">BLOG</a>
    <a href="#">CONTACT</a>
  </div>
</div>
<!--Intro Section  -->
<section id="header">
  <div class="overlay">
    <div class="mobile-nav">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <figure class="pull-left">
              <img src="./images/logo.jpg" alt="">
            </figure>
            <div class="wrapper pull-right" id="hamburger">
              <span>Click Me</span>
              <span>Click Me</span>
              <span>Click Me</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Desktop Navbar -->
    <nav class="nav container text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <ul>
            <li><a href="">HOME</a></li>
            <li>SHOP</li>
            <li>OUR STORY</li>
            <li>
              <img src="./images/logo.jpg" alt="">
            </li>
            <li>TRADE</li>
            <li>BLOG</li>
            <li>CONTACT</li>
          </ul>
        </div>
      </div>
    </nav>


    <!--Title -->
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <span class="sub-title">Discover</span>
        <h1 class="title">China</h1>
      </div>
    </div>
  </div>
</section>

<!--Second Page  -->
<section id="jasmine">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <figure class="greentea text-center">
          <img src="./images/greentea.jpg" alt="">
        </figure>
      </div>
      <div class="col-md-4 col-offset-2">
        <h1 class="title sc-title">How Good Can You Feel?</h1>
        <h4 class="sub-title">Our teas are perfectly blended with flavor and purpose in mind</h4>
        <p class="text-muted details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, tempore ullam nobis porro eveniet quos quisquam facilis, beatae atque tempora laborum animi temporibus deserunt nulla optio distinctio accusantium officia sit.</p>
        <a href="" class="btn btn-lg btn-success">New Arrivals</a>
      </div>
    </div>
  </div>
</section>

<!--Offers  -->
<section id="offers">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title">Exclusive Offers</h1>
        <h4 class="offers-title"> Discover our range of herbal teas</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet,consectetur adipisicing elit. Odit earum optio,<br/> expedita cum quia nostrum odio  maio,res ipsa aut ab ullam, eveniet.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <!-- React Component -->
        <div id="menu" class="menu"></div>
        <div class="border"></div>
      </div>
      <div class="col-md-5">
        <!-- React Component -->
        <div id="menu2" class="menu"></div>
        <div class="border"></div>
      </div>
    </div>
  </div>
</section>

<!-- Featured Products -->
<section id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title">Featured Products</h1>
        <h4 class="sub-title"> We source authentic teas which express the true taste of their Origin</h4>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <figure class="products-image">
            <img src="./images/pineappletea.jpg" alt="">
          </figure>
          <span>XXXX</span>
          <h4>Pineapple Berry</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <span>$13</span>
        </div>
        <div class="col-md-4">
          <figure class="products-image">
            <img src="./images/pumpkintea.jpg" alt="">
          </figure>
          <span>XXXX</span>
          <h4>Pineapple Berry</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <span>$13</span>
        </div>
        <div class="col-md-4">
          <figure class="products-image">
            <img src="./images/imperialtea.jpg" alt="">
          </figure>
          <span>XXXX</span>
          <h4>Pineapple Berry</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <span>$13</span>
        </div>
      </div>
    </div>
  </div>
</section>






<% include ./partials/footer %>
