<% include ./partials/header %>

<section id="header">
  <div class="overlay">
    <div class="mobile-nav">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <figure class="pull-left">
              <img src="./images/logo.jpg" alt="">
            </figure>
            <div class="wrapper pull-right">
              <span>Click Me</span>
              <span>Click Me</span>
              <span>Click Me</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Desktop Navbar -->
    <nav class="nav container text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <ul>
            <li><a href="">HOME</a></li>
            <li>SHOP</li>
            <li>OUR STORY</li>
            <li>
              <img src="./images/logo.jpg" alt="">
            </li>
            <li>TRADE</li>
            <li>BLOG</li>
            <li>CONTACT</li>
          </ul>
        </div>
      </div>
    </nav>


    <!--Title -->
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <span class="sub-title">Discover</span>
        <h1 class="title">China</h1>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>
