@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,900");
body {
  font-family: "Raleway", sans-serif;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: #fff; }

.overlay {
  position: relative;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4); }

#header {
  background-image: url("../../images/ricefield.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center; }
  #header .mobile-nav {
    display: none;
    color: #fff;
    padding: 15px 30px; }
    #header .mobile-nav figure {
      max-width: 40px; }
      #header .mobile-nav figure img {
        width: 100%;
        height: 100%; }
    #header .mobile-nav span {
      display: block; }
    @media screen and (max-width: 991px) {
      #header .mobile-nav {
        display: block; } }
  #header .nav {
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 70px; }
    @media screen and (max-width: 991px) {
      #header .nav {
        display: none; } }
    #header .nav li {
      list-style: none;
      font-weight: 900;
      font-size: 14px;
      color: #fff;
      display: inline;
      margin-right: 57px; }
      #header .nav li img {
        width: 70px;
        height: 70px;
        border-radius: 10%; }
      #header .nav li:last-child {
        margin-right: 0px; }
  #header .title {
    font-weight: 900;
    font-size: 17em;
    color: #fff;
    padding-bottom: 100px; }
    @media screen and (max-width: 768px) {
      #header .title {
        font-size: 12em; } }
    @media screen and (max-width: 480px) {
      #header .title {
        font-size: 7em; } }
  #header .sub-title {
    position: absolute;
    color: #a3ce00;
    top: 1em;
    font-weight: 900;
    left: 54%;
    font-size: 46px; }
    @media screen and (max-width: 768px) {
      #header .sub-title {
        font-size: 6px;
        font-size: 30px;
        left: 55%;
        top: 0.7em; } }
    @media screen and (max-width: 480px) {
      #header .sub-title {
        top: 5px;
        left: 55%;
        font-size: 21px; } }
